<div class="heading">
	<h1 ng:bind="grpCtrl.group.name"></h1>	

	
</div>
<div class="description">
	<p ng:bind="grpCtrl.group.content"></p>	
</div>

<div class="event">
	
	<h2>Search</h2>
	<input class="search" type="text" ng:model="filter_name" placeholder="search">
	<h2>Create events</h2>
	<form enctype="multipart/form-data">
		<p>Date:</p> 
		<input type="date" ng:model="grpCtrl.newGroupEvnt.date">
		<p>Restaurant:</p> 
		<input type="text" ng:model="grpCtrl.newGroupEvnt.restaurant">
		<p>Description:</p>
		<textarea ng:model="grpCtrl.newGroupEvnt.description"></textarea>
		<p>
		<input type="submit" ng:click="grpCtrl.addEvnt(grpCtrl.group.id)">
		</p>
	</form>
</div>
<div class="scroll_view">
	<ul>
		<li ng:repeat="events in grpCtrl.allEvents | filter: filter_name | orderBy: -'events.created_at'">
			<h2 ng:bind="events.restaurant"></h2>
			<p ng:bind="events.description"></p>
			<p ng:bind="events.created_at"></p>
		</li>
	</ul>
</div>