

<h1 ng:bind="grpCtrl.group.name"></h1>	
<p ng:bind="grpCtrl.group.content"></p>

<p>Date:</p> 
<input type="date" ng:model="grpCtrl.newGroupEvnt.date">
<p>Restaurant:</p> 
<input type="text" ng:model="grpCtrl.newGroupEvnt.restaurant">
<p>Description:</p>
<textarea ng:model="grpCtrl.newGroupEvnt.description"></textarea>
<p>
<input type="submit" ng:click="grpCtrl.addEvnt(grpCtrl.group.id)">
</p>

<ul>
	<li ng:repeat="events in grpCtrl.allEvents">
		<h2 ng:bind="events.restaurant"></h2>
		<p ng:bind="events.description"></p>
	</li>
</ul>

