
<div class='container'>
	<div ng-hide="FGC.hide">
	<h2>Please enter your name</h2>
	<input type="text" ng-model="FGC.user.first_name" placeholder="first name">
	<input type="text" ng-model="FGC.user.last_name" placeholder="last name">
	<button ng-click="FGC.uploaduser()">hello</button>
	</body>
	 </div>

	  		  <div ng-show="FGC.showinterests">
	  	<h2>What do you like talking about the most?</h2>
	  	<input type="text" ng-model="FGC.yourinterests[0]">
	<input type="text" ng-model="FGC.yourinterests[1]">
	<input type="text" ng-model="FGC.yourinterests[2]" >
	<button class='btn btn-success' ng-click="FGC.uploadinterests()">Click here to upload your interests</button>
	</body>
	</div>

	  <div ng-show="FGC.showdiets">
	  	  	<h3>Favorite foods and dietary restrictions. Vegan? Gluten? Keto? Sushi? </h3>
	<input type="text" name="food_1" ng-model="FGC.yourdiets[0]" placeholder="I love food trucks"><br>
	<input type="text" name="food_2" ng-model="FGC.yourdiets[1]" placeholder="Ovo-lacto vegetarian"><br>
	<input type="text" name="food_3" ng-model="FGC.yourdiets[2]" placeholder="Happy Hour!"><br>
	<input type="submit" class='btn btn-success' ng-click="FGC.uploaddiets()">
	 </div>
 </div>
