  <div ng-controller="foodgroupsController as FGC">
    <div class="container">
<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Food Groups</h1>
        <p>Have you ever heard the advice, "never eat alone?" Food groups makes it easy for you to connect with great people and great food in your area</p>
        <p><a class="btn btn-primary btn-lg" href="#/registration1" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
<button ng-click="FGC.hello()">CLICK HERE</button>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Host Your Own Events</h2>
          <p>Be able to create your own eating events in the area - Playoffs barbecue, Destiny launch party, or Eastside Networking </p>
          <p><a class="btn btn-default" href="#/registration1" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Form Groups</h2>
          <p>whether you're looking to meet fellow ornithologists or Seahawks fans, you're sure to make some new contacts using Food Groups! </p>
          <p><a class="btn btn-default" href="#/registration1" role="button">Learn more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Share your interests</h2>
          <p>Whether you're obsessed with Crossfit, an ardent vegan, or looking for new sushi buddies, you'll be able to share everything about yourself at Food Groups</p>
          <p><a class="btn btn-default" href="#/registration1" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; The FoodGroups co. 2015</p>
      </footer>
    </div> <!-- /container -->
      
      </div>


    </div><!-- /.container -->  
 </div>